<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
<html>
<head>
</head>
<body>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th> 글번호 </th>
        <th> 글쓴이 </th>
        <th> 글제목 </th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
      <td> {{ post.id }} </td>
      <td> {{ post.author }} </td>
      <td>
      <a href = "{% url 'blog:post_detail' post.id %}"> {{ post.title }} </a> </td>
    </tr>
    </tbody>
    {% endfor %}

</table>
</body>
</html>