<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
<html>
<head>
</head>
<body>
    <h1> 글 </h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th> Author </th>
                <th> Title </th>
                <th> Content </th>
                <th> Time </th>
                <th> Image </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ post.author }} </td>
                <td> {{ post.title }}  </td>
                <td> {{ post.content }} </td>
                <td> {{ post.created_at }} </td>
                {% if post.photo %}
                    <td class="media">
                        <img src="{{ post.photo.url }}" style="width: 75px; height: 75px;"/>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <h1> 댓글 </h1>
    <table class="table">
        <thead class="thead-inverse">
            </tr>
                <th> Author </th>
                <th> Message </th>
            </tr>
        </thead>
        <tbody>
            {% for ment in comment %}
            <tr>
                <td> {{ ment.author }} </td>
                <td class="media"> {% if ment.image %}
                    <img src="{{ ment.image.url }}" style="width: 75px; height: 75px;"/>
                    {% endif %}
                {{ ment.message }}
{{ ment.pk }}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary">
    <a href="{% url 'blog:comments' post.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comments</a></button>

</body>
</html>