{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko"  xml:lang="ko">
<meta http-equiv="Content-Type" Content="text/html; charset=utf-8" />
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko-KR" lang="ko-KR" prefix="og: http://ogp.me/ns#" class="">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />


<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<title>김병재의 소개페이지</title>





      <link href="https://static.heydealer.com/css/vendor.min.7871e189c5f6.css" rel="stylesheet" type="text/css" />
      <link href="https://static.heydealer.com/css/heydealer.min.f4fdf5924223.css" rel="stylesheet" type="text/css" />


    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"> </script>


<script type="text/javascript">
  if (!wcs_add) var wcs_add={};
  wcs_add["wa"] = "s_3dfa065a6bee";
  if (!_nasa) var _nasa={};
  wcs.inflow();
  wcs_do(_nasa);
</script>



  </head>
  <body>


      <section id="header-banner" class="animated fadeInDown">
  <div class="container text-center">

    <p class=text-center>
      <strong>김병재</strong>의 페이지에 오신 것을 환영합니다. :)
    </p>

  </div>
</section>


<section id="home">


<section id="main">
  <div class="container">

    <div class="col-xs-6">

      <h1> <strong>김병재</strong>를 소개합니다. </h1>
      <br>
      <h1> #강아지, #영화, #여행 </h1>
    </div>

</section>


<div class="clearfix"></div>



<section id="howto">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 heydealer-section-header text-center">
        <h2>Puppy</h2>
        <p>강아지를 키우고 있습니다.</p>
      </div>
    </div>
    <div class="container">
  <p class=text-center>클릭하시면 사진을 더 크게 볼 수 있습니다. :)</p>


  <div class="row">
    <div class="col-md-4">
      <a href="{% static "image/puppy1.jpeg" %}" class="thumbnail">
        <img src="{% static 'image/puppy1.jpeg' %}" alt="puppy1" style="width:250px;height:350px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/puppy2.jpeg" %}" class="thumbnail">
        <img src="{% static "image/puppy2.jpeg" %}" alt="puppy2" style="width:250px;height:350px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/puppy3.png" %}" class="thumbnail">
        <img src="{% static "image/puppy3.png" %}" alt="Puppy3" style="width:250px;height:350px">
      </a>
    </div>
  </div>

<section id="howto">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 heydealer-section-header text-center">
        <h2>Movies</h2>
        <p>영화를 무척 좋아합니다.</p>
      </div>
    </div>
    <div class="container">
  <p class=text-center>클릭하시면 사진을 더 크게 볼 수 있습니다. :)</p>


  <div class="row">
    <div class="col-md-4">
      <a href="{% static "image/pulpfiction.jpeg" %}" class="thumbnail">
        <p class=text-center><strong>펄프픽션</strong></p>
        <img src="{% static "image/pulpfiction.jpeg" %}" alt="PulpFiction" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/scentofwoman.jpg" %}" class="thumbnail">
        <p class=text-center><strong>여인의 향기</strong></p>
        <img src="{% static "image/scentofwoman.jpg" %}" alt="ScentofWoman" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/her.jpg" %}" class="thumbnail">
        <p class=text-center><strong>Her</strong></p>
        <img src="{% static "image/her.jpg" %}" alt="Her" style="width:300px;height:200px">
      </a>
    </div>
  </div>
<div class="row">
    <div class="col-md-4">
      <a href="{% static "image/stoker.jpeg" %}" class="thumbnail">
        <p class=text-center><strong>스토커</strong> </p>
        <img src="{% static "image/stoker.jpeg" %}" alt="Stoker" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/casinoroyale.jpg" %}" class="thumbnail">
        <p class=text-center><strong>카지노 로얄</strong></p>
        <img src="{% static "image/casinoroyale.jpg" %}" alt="CasinoRoyale" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/america.jpg" %}" class="thumbnail">
        <p class=text-center><strong>Once upon a time in America</strong></p>
        <img src="{% static "image/america.jpg" %}" alt="America" style="width:300px;height:200px">
      </a>
    </div>
  </div>


    <section id="howto-next-01" class="howto-next"></section>
    <section id="howto-next-02" class="howto-next"></section>
  </div>
</section>

<section id="howto">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 heydealer-section-header text-center">
        <h2>Travel</h2>
        <p>여행을 무척 좋아합니다.</p>
      </div>
    </div>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <p class=text-center>클릭하시면 사진을 더 크게 볼 수 있습니다. :)</p>


  <div class="row">
    <div class="col-md-4">
      <a href="{% static "image/santorini.jpg" %}" class="thumbnail">
        <p class=text-center><strong>그리스</strong> - 산토리니</p>
        <img src="{% static "image/santorini.jpg" %}" alt="Santorini" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/sarajevo.jpg" %}" class="thumbnail">
        <p class=text-center><strong>보스니아-헤르체고비나</strong> - 사라예보</p>
        <img src="{% static "image/sarajevo.jpg" %}" alt="Sarajevo" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/sofia.jpg" %}" class="thumbnail">
        <p class=text-center><strong>불가리아</strong> - 소피아</p>
        <img src="{% static "image/sofia.jpg" %}" alt="Sofia" style="width:300px;height:200px">
      </a>
    </div>
  </div>
<div class="row">
    <div class="col-md-4">
      <a href="{% static "image/budapest.jpg" %}" class="thumbnail">
        <p class=text-center><strong>헝가리</strong> - 부다페스트</p>
        <img src="{% static "image/budapest.jpg" %}" alt="Budapest" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/dubrovnik.jpg" %}" class="thumbnail">
        <p class=text-center><strong>크로아티아</strong> - 두브로브니크</p>
        <img src="{% static "image/dubrovnik.jpg" %}" alt="Dubrovnik" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/praha.jpg" %}" class="thumbnail">
        <p class=text-center><strong>체코</strong> - 프라하</p>
        <img src="{% static "image/praha.jpg" %}" alt="Praha" style="width:300px;height:200px">
      </a>
    </div>
  </div>
<div class="row">
    <div class="col-md-4">
      <a href="{% static "image/newyork.jpeg" %}" class="thumbnail">
        <p class=text-center><strong>미국</strong> - 뉴욕</p>
        <img src="{% static "image/newyork.jpeg" %}" alt="NewYork" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/sydney.jpg" %}" class="thumbnail">
        <p class=text-center><strong>호주</strong> - 시드니</p>
        <img src="{% static "image/sydney.jpg" %}" alt="Dubrovnik" style="width:300px;height:200px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% static "image/hongkong.jpg" %}" class="thumbnail">
        <p class=text-center><strong>중국</strong> - 홍콩</p>
        <img src="{% static "image/hongkong.jpg" %}" alt="Hongkong" style="width:300px;height:200px">
      </a>
    </div>
  </div>

</div>

</body>
</html>

</section>
</section>
<footer id="footer">
  <section id="review">
    <section id="review-header">
      <p class='text-center'>
        더 궁금하시면 아래의 연락처로 연락하시면 됩니다. :)
      </p>
    </section>

    </div>
  </section>
  <section id="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">

          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <div class="row">
            <div class="col-xs-6">
              <p class="text-center">
                <a href="tel:821099017807">
                  <i class="fa fa-phone"></i>
                  휴대전화:
                  +82) 010-9901-7807
                </a>
              </p>
            </div>
            <div class="col-xs-6">
              <p class="text-center">
                <a href="mailto:kbjay21@gmail.com">
                  <i class="fa fa-envelope"></i>
                  이메일: kbjay21@gmail.com
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>